body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td {font-size:12px;}
.tdA {
	background-color:#DFF5FF;
	border-bottom:1px dotted #666666;
	border-left:2px solid #666666;
	padding:5px;
	color:#0066CC;
	}
.tdB {
	background-color:#ffffff;
	border-bottom:1px dotted #666666;
	border-right:1px solid #666666;
	padding:5px;
	}
.tdC {
	border-bottom:1px dotted #666666;
	border-left:2px solid #666666;
	padding:5px;

	color: #0066CC;
	letter-spacing:2px;}
.style1 {
	color: #DB0000;
	font-weight: bold;
}
